<div class="mx-auto w-full flex">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex w-full justify-between bg-gray-100 p-4 rounded mb-4">
      <%= link_to items_path do %>
        <div class="font-medium text-lg flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 19l-7-7 7-7"/>
          </svg>
          Items
        </div>
      <% end %>
      <%= link_to "Edit", edit_item_path(@item), class: 'font-medium text-lg' %>
    </div>
    <%= render @item, full: true%>
<!--    render item details-->
  </div>
</div>
