<div class="mx-auto w-full">
  <%= render "form", category: @category%>
  <% if action_name == "edit" %>
    <%= button_to 'Delete this category', category_path(@category), method: :delete, class: "mt-2 rounded-lg py-2 px-3 bg-gray-100 font-medium" %>
  <% end %>
</div>
